body {
    background-color: #87CEEB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Roboto;
}

.calendar {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 400px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

    .calendar-header .date-day {
        flex: 1;
        display: flex;
        justify-content: center;
        margin-right: 20px;
    }

    .calendar-header .month-year {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

    .calendar-header div {
        font-size: 1.2em;
    }


.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

    .calendar-body div {
        padding: 10px;
        border-radius: 50%;
        background-color: #f0f0f0;
    }

.calendar-footer {
    margin-top: 20px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-button {
    border: 2px solid darkorange;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5em;
}